@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-width:625px;   
}

.horizontal-padding{
    padding-left: 15%;
    padding-right: 15%;
}

.horizontal-padding-left{
    padding-left: 15%;
}

.horizontal-padding-right{
    padding-left: 15%;
    padding-right: 15%;
}

.primary-background-color{
    background-color: #00CC1F;
    color: #FFFFFFF7;
}

.primary-text-color{
    color: #00CC1F;
}
